# Ignore deprecated package warnings
ignore-deprecation=inflight,npmlog,rimraf,glob,abab,are-we-there-yet,domexception,gauge,node-domexception

# Use legacy peer deps to avoid conflicts
legacy-peer-deps=true
strict-ssl=false
registry=https://registry.npmjs.org/ 